/* /Pages/About.razor.rz.scp.css */
.about-container[b-my74j44zit] {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: start;
    margin-top: 2rem;
}

@media (max-width: 640.98px) {
    .about-container[b-my74j44zit] {
        flex-wrap: wrap;
    }
}

.about-container>div>*[b-my74j44zit] {
    width: fit-content;
    margin-bottom: 2rem;
}

.about-container img[b-my74j44zit] {
    width: 15rem;
}

.value-list[b-my74j44zit] {
    list-style: circle;
}
/* /Pages/Index.razor.rz.scp.css */
.index-container[b-7964zury9s] {
    display: flex;
    white-space: pre-line;
    margin-top: 2rem;
}

.gif-container[b-7964zury9s] {
    display: flex;
    justify-content: center;
}

.email-container[b-7964zury9s] {
    display: flex;
    flex-wrap: wrap;
}

.email-container span[b-7964zury9s] {
    margin-right: 1rem;
}
/* /Pages/ProjectCard.razor.rz.scp.css */
.card-container[b-t5v59s5zs5] {
    max-width: 24rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: solid 0.1rem black;
    padding: 1rem;
}

.title[b-t5v59s5zs5] {
    width: fit-content;
}

a[b-t5v59s5zs5] {
    color: black;
    text-decoration: none;
}

.description[b-t5v59s5zs5] {
    margin: 0;
}

.tags[b-t5v59s5zs5] {
    margin: 0;
}
/* /Pages/Projects.razor.rz.scp.css */
.project-container[b-nuzfv5cohf] {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.sort-container[b-nuzfv5cohf] {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.sort-container p[b-nuzfv5cohf] {
    margin: 0;
}

li.highlight.sleep[b-nuzfv5cohf]::before {
    background-color: rgba(128, 128, 128, 0.3);
}
/* /Shared/CultureSelector.razor.rz.scp.css */
.culture-selector[b-ll9xidp27a] {
    grid-column-start: 6;
    display: flex;
    margin-right: 5vw;
    justify-self: flex-end;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-6ekk99mgqr] {
    position: relative;
    display: flex;
    font-family: Sono;
    overflow: hidden;
}

main[b-6ekk99mgqr] {
    flex: 1;
}

.top-row[b-6ekk99mgqr] {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr repeat(4, auto) 1fr;
    height: 10vh;
    transition: all 200ms ease-out;
}

.top-row.active[b-6ekk99mgqr]::before {
    height: 75vh;
}

.top-row.active[b-6ekk99mgqr]::after {
    height: 70vh;
}

.top-row[b-6ekk99mgqr]  a.active,
.phone-menu-container a.active[b-6ekk99mgqr] {
    text-decoration: solid black underline;
}

.top-row[b-6ekk99mgqr]  a,
.phone-menu-container[b-6ekk99mgqr]  a {
    white-space: nowrap;
    margin: 0 1rem;
    text-decoration: none;
    color: unset;
    cursor: pointer;
}

.top-row[b-6ekk99mgqr]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row a[b-6ekk99mgqr] {
        display: none;
    }
}

@media (min-width: 640.98px) {
    .top-row .hamburger-container[b-6ekk99mgqr] {
        opacity: 0;
        pointer-events: none;
    }
}

.page[b-6ekk99mgqr] {
    flex-direction: row;
}

.top-row[b-6ekk99mgqr] {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.content[b-6ekk99mgqr]  .heading-container {
    width: fit-content;
}

.body-container[b-6ekk99mgqr] {
    width: 100%;
}

.hamburger-container[b-6ekk99mgqr] {
    justify-self: flex-start;
    width: 6vh;
    height: 6vh;
    margin-left: 5vw;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-start;
    transition: all 200ms ease-out;
    padding: 2vh 2vh 2vh 0;
}

.hamburger-container > div[b-6ekk99mgqr] {
    height: 3px;
    background-color: black;
    border-radius: 2px;
}

.top-row.active .hamburger-container[b-6ekk99mgqr] {
    padding: 0 2vh 0 0;
}

.hamburger-container .middle[b-6ekk99mgqr],
.hamburger-container .bottom[b-6ekk99mgqr] {
    position: relative;
    width: 50%;
    transition: inherit;
}

.top-row.active .hamburger-container .bottom[b-6ekk99mgqr] {
    width: 100%;
}

.phone-menu-container[b-6ekk99mgqr] {
    width: 100%;
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    gap: 2rem;
    opacity: 1;
    transition: all 200ms ease-out;
}

.phone-menu-container.hidden[b-6ekk99mgqr] {
    opacity: 0;
    margin-top: 0;
    pointer-events: none;
}
