@page "/projects/bimeshof"
@using System.Globalization
@inject IStringLocalizer<Projects> Loc

<div class="heading-container">
    <h1 class="highlight ltext">bimeshof website</h1>
</div>

<div class="link-container">
    <a class="hover-box github" href="https://github.com/herbstmeier/bimeshof" target="_blank"><img class="icon"
            src="img/icons/github.svg" alt=""></a>
    <a class="hover-box site" href="https://bimeshof.de" target="_blank"><img class="icon"
            src="img/icons/eye.svg" alt=""></a>
</div>

@if (CultureInfo.CurrentCulture.TwoLetterISOLanguageName == "en")
{
    <p>
        i got the opportunity to design the new website for this local farm called bimeshof as my mom signed up to their
        member program. i then met with the owner to discuss her ideas and demands.
    </p>
    <p>
        the goal of this project was to deliver a great end product. so i chose to keep the technical side very simple and
        focus strictly on the content and presentation. i used vanilla html and javascript plus a bit of php for backend
        functionality. regular communication throughout the process allowed me to come up with drafts and bounce ideas off
        the owner, thereby ensuring we were working toward the same goal.
    </p>
}
else
{
    <p>
        die möglichkeit, die neue website für den bimeshof, einen hof in meiner heimat, zu erstellen, enstand weil meine
        mutter ein mitglied in der sozialen landwirtschaft ist. also habe ich mich mit der besitzerin getroffen, um ihre
        ideen und vorstellungen zu besprechen.
    </p>
    <p>
        das ziel dieses projekts war es, ein hochwertiges endprodukt abzuliefern. darum habe
        ich mich entschlossen, die technischen aspekte simpel zu gestalten und mich strikt auf den inhalt und die
        präsentation zu fokusieren. ich habe vanilla html, javascript und etwas php für backend-funktionen verwendet. durch
        regelmäßige kommunikation mit der besitzerin konnte ich ihr stets meine ideen vorstellen, um zu garantieren, dass
        wir das selbe ziel im blick haben.
    </p>
}