@page "/projects/bimeshof"
@using System.Globalization
@inject IStringLocalizer<Projects> Loc

<div class="heading-container">
    <h1 class="highlight ltext">bimeshof website</h1>
</div>

<div class="link-container">
    <a class="hover-box github" href="https://github.com/herbstmeier/bimeshof" target="_blank"><img class="icon"
            src="img/icons/github.svg" alt=""></a>
    <a class="hover-box site" href="http://bimeshof.herbstmeier.de" target="_blank"><img class="icon"
            src="img/icons/eye.svg" alt=""></a>
</div>

@if (CultureInfo.CurrentCulture.TwoLetterISOLanguageName == "en")
{

}
else
{

}