@page "/projects/alarm"
@* <PageTitle>moritz herbstmeier | @Loc["title"]</PageTitle> *@

<div class="heading-container">
    <h1 class="highlight ltext">light alarm</h1>
</div>

<div class="link-container">
    <a class="hover-box github" href="https://github.com/herbstmeier/LightAlarm" target="_blank"><img class="icon" src="img/icons/github.svg" alt=""></a>
</div>