@page "/projects/portfolio"

<div class="heading-container">
    <h1 class="highlight ltext">portfolio website</h1>
</div>

<div class="link-container">
    <a class="hover-box github" href="https://github.com/herbstmeier/herbstmeier.github.io" target="_blank"><img class="icon" src="img/icons/github.svg" alt=""></a>
</div>