.center-container {
    display: flex;
    justify-content: center;
}

.about-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: start;
}

.about-container img {
    border-radius: 1vh;
    width: 15rem;
}

.bio-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.subhead {
    font-size: 1.5rem;
}

.skill-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
}
