.about-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: start;
    margin-top: 2rem;
}

@media (max-width: 640.98px) {
    .about-container {
        flex-wrap: wrap;
    }
}

.about-container>div>* {
    width: fit-content;
    margin-bottom: 2rem;
}

.about-container img {
    width: 15rem;
}

.value-list {
    list-style: circle;
}