.about-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 2rem;
    justify-items: start;
}

.about-container img {
    border-radius: 1rem;
}

.subhead {
    font-size: 1.5rem;
}

.skill-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}
