@page "/home"
@page "/"
@inject NavigationManager NavManager
@inject IStringLocalizer<Index> Loc

<PageTitle>moritz herbstmeier | @Loc["title"]</PageTitle>

<div class="index-container">
    <div class="pitch-container">
        <p class="pitch">@Loc["pitch"]</p>
        <div class="email-container">
            <span>@Loc["contact"]</span>
            <a href="mailto: moritz.herbstmeier@gmx.de">moritz.herbstmeier@gmx.de</a>
        </div>
    </div>
</div>

@code {
    protected override void OnParametersSet()
    {
        if (NavManager.ToBaseRelativePath(NavManager.Uri) == "")
        {
            NavManager.NavigateTo("/home");
        }
    }
}
