.index-container {
    display: flex;
    white-space: pre-line;
    margin-top: 2rem;
}

.gif-container {
    display: flex;
    justify-content: center;
}

.email-container {
    display: flex;
    flex-wrap: wrap;
}

.email-container span {
    margin-right: 1rem;
}