.card-container {
    position: relative;
    max-width: 24rem;
    height: 34rem;
    display: flex;
    flex-direction: column;
    border: solid 0.1rem black;
    padding: 1rem;
    justify-content: space-between;
}

.card-container img {
    max-width: 100%;
    object-fit: cover;
    height: 40%;
}

.title {
    width: fit-content;
}

a {
    color: black;
    text-decoration: none;
}

.description {
    margin: 0;
}

.tags {
    margin: 0;
}

.card-container.wip * {
    pointer-events: none;
    opacity: 0.5;
}

.card-container.wip::before {
    content: 'work in progress';
    position: absolute;
    z-index: 0;
    font-size: calc(3rem + 1vh);
    font-weight: bold;
    transform: translate(-50%,-50%) rotate(350deg);
    top: 50%;
    left: 50%;
}