.page {
    position: relative;
    display: flex;
    font-family: Sono;
    overflow: hidden;
}

main {
    flex: 1;
}

.top-row {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr repeat(4, auto) 1fr;
    height: 10vh;
    transition: all 200ms ease-out;
}

.top-row.active::before {
    height: 75vh;
}

.top-row.active::after {
    height: 70vh;
}

.top-row ::deep a.active,
.phone-menu-container a.active {
    text-decoration: solid black underline;
}

.top-row ::deep a,
.phone-menu-container ::deep a {
    white-space: nowrap;
    margin: 0 1rem;
    text-decoration: none;
    color: unset;
    cursor: pointer;
}

.top-row ::deep a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row a {
        display: none;
    }
}

@media (min-width: 640.98px) {
    .top-row .hamburger-container {
        opacity: 0;
        pointer-events: none;
    }
}

.page {
    flex-direction: row;
}

.top-row {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.content ::deep .heading-container {
    width: fit-content;
}

.body-container {
    width: 100%;
}

.hamburger-container {
    justify-self: flex-start;
    width: 6vh;
    height: 6vh;
    margin-left: 5vw;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-start;
    transition: all 200ms ease-out;
    padding: 2vh 2vh 2vh 0;
}

.hamburger-container > div {
    height: 3px;
    background-color: black;
    border-radius: 2px;
}

.top-row.active .hamburger-container {
    padding: 0 2vh 0 0;
}

.hamburger-container .middle,
.hamburger-container .bottom {
    position: relative;
    width: 50%;
    transition: inherit;
}

.top-row.active .hamburger-container .bottom {
    width: 100%;
}

.phone-menu-container {
    width: 100%;
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    gap: 2rem;
    opacity: 1;
    transition: all 200ms ease-out;
}

.phone-menu-container.hidden {
    opacity: 0;
    margin-top: 0;
    pointer-events: none;
}