.page {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: Sono;
    overflow: hidden;
}    

main {
    flex: 1;
}

.heading-container h1 {
    font-size: 3rem;
}

.top-row {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr repeat(4, auto) 1fr;
    height: 10vh;
    font-size: 1rem;
}

.top-row::before {
    content: "";
    position: absolute;
    left: -31%;
    top: -2rem;
    height: 12rem;
    width: 200%;
    background-color: rgba(90, 192, 192, 0.5);
    border-bottom: 0.5rem solid rgb(90, 192, 192);
    transform: rotate(2deg);
    z-index: -1;
}

    .top-row ::deep a.active {
        border-bottom: solid 2px black;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin: 0 1rem;
        text-decoration: none;
        color: unset;
        font-weight: bold;
        cursor: pointer;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-shadow: 2px 2px rgb(90, 192, 192);
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
        grid-column-start: 2;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }
}

.content ::deep .highlight {
    text-shadow: 2px 2px white;
    background-color: rgb(255 134 95 / 50%);
}

.content ::deep .heading-container {
    width: fit-content;
    border-radius: 1rem;
    margin-bottom: 2rem;
}